.DirView-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
  max-width: 1000px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #ffffff;
  font-family: monospace;
  color: #24292e;
}

.DirView-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: -1px -1px 0 -1px;
  padding: 8px 12px;
  border: 1px solid #c8e1ff;
  border-bottom-width: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #f1f8ff;
}

.DirView-pathSpan {
  display: inline;
  flex-grow: 1;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.DirView-iconButton {
  display: flex;
  align-items: center;
  fill: currentColor;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.DirView-iconButton:hover {
  background-color: #d1d5da7f;
}

.DirView-iconButton:active {
  background-color: #d1d5da;
}

.DirView-fileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 6px 12px;
  border-top: 1px solid #e1e4e8;
}

.DirView-fileInfo:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.DirView-fileInfo:hover {
  background-color: #f6f8fa;
}

.DirView-fileInfo:hover .DirView-fileMenu {
  visibility: visible;
}

.DirView-fileDetails {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-grow: 6;
  flex-basis: 60%;
  overflow: hidden;
}

.DirView-fileIcon {
  display: flex;
}

.DirView-fileName {
  display: flex;
  flex-grow: 1;
  margin: 0 8px;
  overflow: hidden;
}

.DirView-nameLink {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  color: #24292e;
}

.DirView-nameLink:hover {
  text-decoration: underline;
  color: #0366d6;
}

.DirView-fileMenu {
  visibility: hidden;
}

.DirView-fileSize {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-grow: 1;
  flex-basis: 10%;
}

.DirView-fileMTime {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-grow: 3;
  flex-basis: 30%;
}
